<h1>Listing poems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poems.each do |poem| %>
  <tr>
    <td><%= poem.title %></td>
    <td><%= poem.content %></td>
    <td><%= link_to 'Show', poem %></td>
    <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
    <td><%= link_to 'Destroy', poem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poem', new_poem_path %>
